/home/julienb/Documents/python-envs/DEFT2023/SPQR_Deft-2013_pharmacologie/Similarités questions/sims.json

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Python ###
**/.venv
__pycache__

### Misc ###
*.csv
